.loading 
  display flex;
  justify-content center;
  align-items center;
  height 100px;

  &:after
    content "";
    display inline-block;
    width 22px;
    height 22px;
    opacity 0;
    border 3px solid #333;
    border-radius 50%;
    will-change transform;
    animation pulsate 1s ease-out infinite;

@keyframes pulsate
  0%
    transform scale(.1);
    opacity 0;

  50%
    opacity 1;

  100%
    transform scale(1.2);
    opacity 0;