@import '../lib/util/util';
@import '../lib/global';
@import "../lib/foundation";

@include foundation-button;
.wrap {
  display: flex;
}
.button {
  margin: 0 0 0 1rem;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}