{
  "f2e": {
    "name": "__YOURF2ENAME__",
    "host": "223.252.197.245",
    "port": 16322
  },
  "ftp": {
    "img": {
      "host": "61.135.251.132",
      "port": "16321",
      "secure": true,
      "username": "__YOURNAME__",
      "password": "__YOURPASSWORD__",
      "origin": "http://img4.cache.netease.com"
    }
  }
}