{
    "developer": "__YOURNAME__",
    "ftp": {
        "img": {
            "host": "61.135.251.132",
            "port": "16321",
            "secure": true,
            "username": "__YOURNAME__",
            "password": "__YOURPASSWORD__",
            "origin": "http://img4.cache.netease.com"
        },
        "c_m": {
            "host": "220.181.29.249",
            "port": "16321",
            "username": "wangjun2012",
            "password": "wangjun2012",
            "origin": "http://c.3g.163.com/nc/qa"
        },
        "c_m_new": {
            "host": "220.181.29.249",
            "port": "16321",
            "username": "ybduan",
            "password": "unbug@163.com",
            "origin": "http://c.3g.163.com/webapp"
        },
        "t_c": {
            "host": "220.181.98.57",
            "port": "2100",
            "username": "ynren1",
            "password": "ynren@163",
            "origin": "http://t.c.m.163.com"
        },
        "galaxy": {
            "host": "123.58.176.61",
            "port": "21",
            "username": "ftp",
            "password": "ftp123",
            "origin": "http://demo.galaxy.163.com"
        }
    }
}