.c1 {
    color: goldenrod;
    transition: all .5s ease-out;
}

.c2 {
    color: black;
    background: url('../img/1.png');
}

.c2 .c4 {
    color: green;
}

.c3 {
    color: yellowgreen;
    background: url('../img/2.png');
}