.dishes {
    display: flex;
    justify-content: space-between;
    background: resolve('candy.png') no-repeat center;
}

.dish {
    display: flex;
    align-items: center;
    flex: 1;
    background: linear-gradient(to right, rgba(120,120,120, 0), rgba(120,120,120, .5));
}
.dish + .dish {
    margin-left: 100px;
}
.dish .icon {
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    transition: transform .3s ease-out;
}
.dish:first-child .icon {
    background-image: resolve('xc/1.jpg');
}
.dish:last-child .icon {
    background-image: resolve('xc/2.jpg');
}
.dish .name {
    margin-left: 20px;
    flex: 1;
    text-shadow: 0 0 3px rgba(0,0,0, .5);
}

.dish:hover .icon {
    transform: rotateY(180deg);
}