@import './modules/leadin';
:global {
  @include foundation-form-prepostfix;
  @include foundation-text-alignment;
  @include foundation-global-styles;
  @include foundation-button-group;
  @include foundation-close-button;
  @include foundation-flex-grid;
  @include foundation-callout;
  @include foundation-button;
  @include foundation-forms;
  @include foundation-table;
  @include foundation-label;
  @include foundation-tabs;
  @include foundation-menu;
  @include text-align;
  @include panel;
  body {
    font-family: $body-font-family;
    background-color: $bg-gray;
  }
  .row {
    max-width: none;
  }
}
.root {
  width: 100%;
  .main{
    margin-top: 15px;
    padding: 0 20px;
    @include clearfix;
    aside{
      width: 200px;
      float: left;
      border:1px solid $medium-gray;
      text-align: center;
    }
    .content{
      margin-left: 220px;
      overflow: hidden;
    }
  }
}

ul{
  list-style: none;
}