@import './modules/leadin';
:global {
  body {
    font-family: $body-font-family;
  }
  .row {
    max-width: none;
  }
  @include text-align;
  @include panel;
}
.root {
  width: 100%;
  .main{
    margin-top: 15px;
    padding: 0 20px;
    @include clearfix;
    aside{
      width: 200px;
      float: left;
      border:1px solid $medium-gray;
      text-align: center;
    }
    .content{
      margin-left: 220px;
      overflow: hidden;
    }
  }
}

ul{
  list-style: none;
}