@import 'lib/vendor/normalize';
@import 'lib/util/util';
@import 'lib/global';
@import "lib/foundation";

.root {
  width: 100%;
  .main{
    margin-top: 15px;
    padding: 0 20px;
    @include clearfix;
    aside{
      width: 200px;
      min-height: 300px;
      float: left;
      border: 1px solid $medium-gray;
      text-align: center;
    }
    .content{
      margin-left: 220px;
      overflow: hidden;
    }
  }
}

ul{
  list-style: none;
}