/*
modules 公用文件
*/
@import '../lib/util/util';
@import '../lib/global';
@import "../lib/foundation";

@include foundation-global-styles;
@include foundation-forms;
@include foundation-flex-grid;
@include foundation-callout;
$closebutton-size: 18px;
@include foundation-close-button;
@include foundation-button;

@mixin text-align{
    /*
        text-{位置}
    */
    @each $hdir, $prop in (
            'right': right,
            'center': center,
            'left': left
    ) {
        .text-#{$hdir} {
            text-align: $prop;
        }
    }
}
@mixin panel{
    .panel{
        @include callout($white);
        min-height: 600px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        h4{
            font-size: 20px;
            font-weight: 100;
            margin: 0;
        }
    }
}