@import "leadin";

.applist{
    @include table;
    table {
        text-align: center;
        width: 100%;
        th{
            text-align: center;
        }
    }
    .line{
        max-width: none;
    }
}