@import "leadin";

@include panel;
@include text-align;

.applist{
    @include table;
    table {
        text-align: center;
        width: 100%;
        th{
            text-align: center;
        }
    }
}