@import "leadin";

@include panel;
@include text-align;
[data-suffix]:after{
    content: attr(data-suffix);
    margin: 0 5px;
}

input[type='radio']{
    margin-right: 10px;
}

.submit-button{
    margin: 100px 0 50px;
}
