@import 'leadin';
.activity {
  margin-left: -3rem;
  .item{
    margin-right: .5rem;
  }
}
.row{
  margin: 1.15rem 0;
}
.button-group {
  margin-left: 170px;
  margin-top: 30px;
  .button {
    margin: 0 0.4rem !important;
  } 
}
.button {
  -webkit-user-select: none;
}
.input {
  display: inline-block;
}
.users{
  display: block;
}
.row{
  textarea, input, select{
    margin-bottom: 0;
    width: 100%;
  }
}
.tabs{
  padding: 0;
  a {
    text-decoration: none;
  }
  .is-active a{
    background: #e6e6e6;
  }
}
.tabs, .tabs-content{
  border-color: #cacaca;
}
.codes {
  .table {
    width: 1100px;
    text-align: center;
  }
  th {
    text-align: center;
  }
}
.callout {
  display: inline-block;
  min-width: 68.5rem;
  background: #fefefe;
}
.joiner {
  background: #fff;
  .row{
    max-width: 68.5rem;
  }
  a {
    margin-bottom: 0;
    margin-right: 0.4rem;
  }
  .operation {
    padding: 0;
  }
  .score {
    margin-bottom: 0;
  }
  .save {
    margin-left: 20px;
    width: 50px;
  }
}
