@import "leadin";

.menu {
    min-height: 300px;
    padding-bottom: 50px;
    background-color: $white;
    ul{
        padding: 0;
        margin: 0;
        li{
            transition: all .3s;
            a{
                color: $back-color;
                text-decoration: none;
                display: block;
                padding: 15px 0;
                transition: all .3s;
            }
            &.active{
                background-color: $main-color;
                a{
                    color: $white;
                }
            }
            &:hover{
                background-color: $btn-hover;
                a{
                    color: $white;
                }
            }
        }
    }
}